#floats {
  background: #d41;
}

#floats
#container {
  background: white;
  padding: 20px;
  margin: 0 300px;
}

#zbro {
  float: left;
  margin: 0 20px 10px 0;
  padding: 40px;
}

#mainColumn {
  width: 275px;
  height: 200px;
  float: left;
}

#sidebar {
  width: 220px;
  float: right;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@media { min=""
  #container
}